/* General Resets */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* Header Styling */
header {
    background: linear-gradient(to right, #000, #444);
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Orbitron', sans-serif;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Navigation - Horizontal layout */
nav {
    background-color: black;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Lines up links horizontally */
    justify-content: center;
}

/* nav links */
nav li {
    position: relative;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
}

nav li a:hover {
    background-color: #ffcc66;
    color: black;
}

/* Flexbox Layout Container */
.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto; /* Centers the whole site content */
    background-color: white;
    min-height: 600px;
}

/* dropdown menu */
.dropdown > a {
    cursor: pointer;
}

/* white down arrow */
.arrow {
    font-size: 0.7rem;
    margin-left: 6px;
    color: white;
}

/* dropdown container */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    min-width: 240px;
    border: 1px solid #555;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

/* dropdown links */
.dropdown-menu li a {
    display: block;
    color: white;
    padding: 16px 22px;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

/* hover fropdown items */
.dropdown-menu li a:hover {
    background-color: #ffcc66;
    color: black;
}

/* show dropdown on hover */
.dropdown:hover > .dropdown-menu {
    display: block;
}

/* flexbox layout */
.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    min-height: 600px;
}

/* Main Content (Left) */
.content {
    flex: 3; /* Takes up 75% of the width */
    padding: 30px;
    font-size: 2rem;
    line-height: 1.75;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Sidebar (Right) */
.sidebar {
    flex: 1; /* Takes up 25% of the width */
    background-color: #ffcc66; /* Orange side box style */
    padding: 20px;
    border-left: 1px solid #ddd;
}

/* Image Wrap Styling */
.float-img {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
    border: 1px solid #ccc;
    padding: 5px;
    background: white;
}

/* Sidebar Box Styling */
.sidebar-box {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px dashed #333;
    text-align: center;
}

/* Footer Styling */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    clear: both;
}