body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(to right, #000, #444);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
}

nav {
    background-color: black;
}

nav ul {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: orange;
    color: black;
}

main {
    display: flex;
    margin: 20px;
}

.content {
    width: 70%;
    background: white;
    padding: 20px;
    margin-right: 20px;
}

.sidebar {
    width: 30%;
    background: #ffcc66;
    padding: 20px;
}

.float-img {
    float: left;
    width: 200px;
    margin: 0 15px 15px 0;
}

footer {
    background: linear-gradient(to right, #444, #000);
    color: white;
    text-align: center;
    padding: 15px;
}